@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* CSS CUSTOM PROPERTIES */

:root {
  --clr-primary-accent: hsl(210, 97%, 47%);
  --clr-secondary-accent: hsl(214, 18%, 75%);

  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-800: hsl(0, 0%, 20%);

  --clr-shadow-800: hsla(0, 0%, 0%, 0.2);

  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;
  --fs-900: 4rem;
}

/* CSS RESET */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES */

body {
  font-family: "Lato", sans-serif;
  color: hsl(0, 0%, 20%);
  line-height: 1.6;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0.625rem 0;
}

p {
  margin: 0.625rem 0;
}

/* NAV BAR */

.navbar {
  background-color: var(--clr-primary-accent);
  color: var(--clr-primary-100);
  height: 4.375rem;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--clr-primary-100);
  padding: 0.625rem;
  margin: 0 0.3125rem;
}

.navbar a:hover,
.navbar a:focus {
  border-bottom: 2px var(--clr-primary-100) solid;
  transition: 0.3s ease-in-out;
}

/* HERO SECTION */

.hero {
    height: 25rem;
    background-color: var(--clr-primary-accent);
    color: var(--clr-primary-100);
    position: relative;
}

.hero .grid {
    grid-template-columns: 55% 45%;
    gap: 1.875rem;
    overflow: visible;
}

.hero h1 {
    font-size: var(--fs-700);
}

.hero p {
    margin: 1.25rem 0;
}

.hero__form {
    position: relative;
    justify-self: flex-end;
    top: 3.75rem;
    height: 21.875rem;
    width: 25rem;
    padding: 2.5rem;
    z-index: 100;
}

.hero__form .form__control {
   margin: 1.875rem 0; 
}

.hero__form input[type='text'],
.hero__form input[type='email'] {
    border: 0;
    border-bottom: 1px solid var(--clr-secondary-accent);
    width: 100%;
    padding: .1875rem;
    font-size: var(--fs-400);
}

.hero__form input:focus {
    outline: none;
}

.hero::before,
.hero::after {
    content: '';
    position: absolute;
    background: var(--clr-primary-100);
    height: 6.25rem;
    bottom: -4.375rem;
    right: 0;
    left: 0;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* STATS */

.stats {
    padding-top: 6.25rem;
}



/* UTILITY CLASSES */

.container {
  max-width: 68.75rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  overflow: auto;
}

.card {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-800);
    border-radius: .625rem;
    box-shadow: 0 3px 10px var(--clr-shadow-800);
    padding: 1.25rem;
    margin: .625rem;
}

.btn {
    display: inline-block;
    padding: .625rem 1.875rem;
    cursor: pointer;
    background: var(--clr-primary-accent);
    color: var(--clr-primary-100);
    border: none;
    border-radius: .3125rem;
}

.btn__outline {
    background-color: transparent;
    border: 1px solid var(--clr-primary-100);
}

.btn:hover,
.btn:focus {
    transform: scale(.96);
}

.text__center {
    text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid__3 {
    grid-template-columns: repeat(3, 1fr);
}

.margin-y__1 {
  margin: var(--fs-400) 0;
}

.margin-y__2 {
    margin: var(--fs-500) 0;
}

.margin-y__3 {
    margin: var(--fs-600) 0;
}

.margin-y__4 {
  margin: var(--fs-800);
}

.margin-y__5 {
    margin: var(--fs-900) 0;
}

.margin__1 {
    margin: var(--fs-400);
  }
  
  .margin__2 {
      margin: var(--fs-500);
  }
  
  .margin__3 {
      margin: var(--fs-600);
  }
  
  .margin__4 {
    margin: var(--fs-800);
  }
  
  .margin__5 {
      margin: var(--fs-900);
  }
  
