@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* CSS CUSTOM PROPERTIES */

:root {
--clr-main-accent: hsl(210, 97%, 47%);

--clr-primary-100: hsl(0, 0%, 100%);
}


/* CSS RESET */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES */

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0.625rem 0;
}

p {
  margin: 0.625rem 0;
}

/* CONTAINER */

.container {
  max-width: 68.75rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  overflow: auto;
}

/* NAV BAR */

.navbar {
  background-color: var(--clr-main-accent);
  color: var(--clr-primary-100);
  height: 4.375rem;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--clr-primary-100);
  padding: .625rem;
  margin: 0 .3125rem;
}

.navbar a:hover,
.navbar a:focus {
    border-bottom: 2px var(--clr-primary-100) solid;
    transition: .3s ease-in-out;
}

/* UTILITY CLASSES */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
